```markdown
# Análise dos Jogos da Premier League 2023

Neste notebook, faremos uma análise dos dados dos jogos da Premier League no ano de 2023. Utilizaremos uma base de dados contendo informações sobre os jogos, como times, placares, datas e estádios.

## Objetivo

O objetivo desta análise é explorar os dados dos jogos da Premier League 2023 e obter insights sobre o desempenho das equipes, tendências de resultados, e outros aspectos relevantes para entender o campeonato.

## Estrutura do Notebook

1. Introdução e Objetivo
2. Carregamento dos Dados
3. Análise Exploratória
4. Visualização de Dados
5. Conclusão

## Carregamento dos Dados

Nesta seção, iremos carregar a base de dados dos jogos da Premier League 2023 e realizar as etapas de pré-processamento necessárias.

## Análise Exploratória

Nesta seção, exploraremos os dados dos jogos da Premier League 2023, realizando análises estatísticas, identificando padrões e tendências.

## Visualização de Dados

Nesta seção, utilizaremos gráficos e visualizações para representar os dados dos jogos da Premier League 2023, facilitando a compreensão e interpretação dos resultados.

## Conclusão

Nesta seção, faremos uma síntese dos principais insights obtidos durante a análise dos jogos da Premier League 2023 e discutiremos possíveis próximos passos.

Vamos começar carregando os dados e explorando as informações disponíveis!
```

In [2]:
!pip install pandas

Collecting pandas
  Obtaining dependency information for pandas from https://files.pythonhosted.org/packages/22/a5/a0b255295406ed54269814bc93723cfd1a0da63fb9aaf99e1364f07923e5/pandas-2.2.2-cp312-cp312-win_amd64.whl.metadata
  Downloading pandas-2.2.2-cp312-cp312-win_amd64.whl.metadata (19 kB)
Requirement already satisfied: numpy>=1.26.0 in c:\users\henri\appdata\local\programs\python\python312\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\henri\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas)
  Obtaining dependency information for pytz>=2020.1 from https://files.pythonhosted.org/packages/9c/3d/a121f284241f08268b21359bd425f7d4825cffc5ac5cd0e1b3d82ffd2b10/pytz-2024.1-py2.py3-none-any.whl.metadata
  Downloading pytz-2024.1-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Obtaining dependency information for tzdata>=2022.7 from https://files.pythonhosted.org/packages/65/58/f9c9e6be752e9fcb8b6a0ee9fb87e6e7a1f6bcab2cdc73f02bb7ba91ada0/tzdata-2024.1-py2.py3-none-any.whl.metadata
  Downloading tzdata-2024.1-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in c:\users\henri\appdata\local\programs\python\python312\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Downloading pandas-2.2.2-cp312-cp312-win_amd64.whl (11.5 MB)
   ---------------------------------------- 0.0/11.5 MB ? eta -:--:--
   ---------------------------------------- 0.1/11.5 MB 2.3 MB/s eta 0:00:05
   - -------------------------------------- 0.3/11.5 MB 4.1 MB/s eta 0:00:03
   --- ------------------------------------ 1.0/11.5 MB 8.1 MB/s eta 0:00:02
   ------- -------------------------------- 2.3/11.5 MB 13.4 MB/s eta 0:00:01
   ------------ --------------------------- 3.5/11.5 MB 16.2 MB/s eta 0:00:01
   --------------- ------------------------ 4.5/11.5 MB 17.1 MB/s eta 0:00:01
   -------------------- ------------------- 6.0/11.5 MB 18.3 MB/s eta 0:00:01
   --------------------------- ------------ 8.0/11.5 MB 20.4 MB/s eta 0:00:01
   ------------------------------- -------- 9.1/11.5 MB 20.8 MB/s eta 0:00:01
   ----------------------------------- ---- 10.3/11.5 MB 22.6 MB/s eta 0:00:01
   ---------------------------------------  11.3/11.5 MB 25.2 MB/s eta 0:00:01
   ---------------------------------------  11.5/11.5 MB 25.2 MB/s eta 0:00:01
   ---------------------------------------  11.5/11.5 MB 25.2 MB/s eta 0:00:01
   ---------------------------------------  11.5/11.5 MB 25.2 MB/s eta 0:00:01
   ---------------------------------------  11.5/11.5 MB 25.2 MB/s eta 0:00:01
   ---------------------------------------- 11.5/11.5 MB 16.8 MB/s eta 0:00:00
Downloading pytz-2024.1-py2.py3-none-any.whl (505 kB)
   ---------------------------------------- 0.0/505.5 kB ? eta -:--:--
   ---------------------------------------  501.8/505.5 kB ? eta -:--:--
   ---------------------------------------- 505.5/505.5 kB 7.9 MB/s eta 0:00:00
Downloading tzdata-2024.1-py2.py3-none-any.whl (345 kB)
   ---------------------------------------- 0.0/345.4 kB ? eta -:--:--
   ---------------------------------------  337.9/345.4 kB ? eta -:--:--
   ---------------------------------------- 345.4/345.4 kB 5.3 MB/s eta 0:00:00
Installing collected packages: pytz, tzdata, pandas
Successfully installed pandas-2.2.2 pytz-2024.1 tzdata-2024.1

[notice] A new release of pip is available: 23.2.1 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [7]:
import pandas as pd
import numpy as np

# Create a DataFrame
df = pd.read_csv('PL23.csv')

df.head()

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
0,E0,11/08/2023,20:00,Burnley,Man City,0,3,A,0,2,...,2.28,1.50,1.95,1.98,1.95,1.97,NaN,NaN,1.92,1.95
1,E0,12/08/2023,12:30,Arsenal,Nott'm Forest,2,1,H,2,0,...,2.63,-2.00,1.95,1.98,1.93,1.97,2.01,2.09,1.95,1.92
2,E0,12/08/2023,15:00,Bournemouth,West Ham,1,1,D,0,0,...,2.12,0.00,2.02,1.91,2.01,1.92,2.06,1.96,1.96,1.91
3,E0,12/08/2023,15:00,Brighton,Luton,4,1,H,1,0,...,2.48,-1.75,2.01,1.92,2.00,1.91,2.14,1.93,2.00,1.86
4,E0,12/08/2023,15:00,Everton,Fulham,0,1,A,0,0,...,1.71,-0.25,2.06,1.87,2.04,1.88,2.08,1.99,1.98,1.88

In [16]:
df.isnull().any()

Div         False
Date        False
Time        False
HomeTeam    False
AwayTeam    False
            ...
B365CAHA    False
PCAHH       False
PCAHA       False
AvgCAHH     False
AvgCAHA     False
Length: 88, dtype: bool

In [17]:
df.dropna(axis=1, inplace=True)
df.head()

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,MaxC<2.5,AvgC>2.5,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,AvgCAHH,AvgCAHA
0,E0,11/08/2023,20:00,Burnley,Man City,0,3,A,0,2,...,2.45,1.64,2.28,1.50,1.95,1.98,1.95,1.97,1.92,1.95
1,E0,12/08/2023,12:30,Arsenal,Nott'm Forest,2,1,H,2,0,...,2.79,1.49,2.63,-2.00,1.95,1.98,1.93,1.97,1.95,1.92
2,E0,12/08/2023,15:00,Bournemouth,West Ham,1,1,D,0,0,...,2.23,1.74,2.12,0.00,2.02,1.91,2.01,1.92,1.96,1.91
3,E0,12/08/2023,15:00,Brighton,Luton,4,1,H,1,0,...,2.66,1.55,2.48,-1.75,2.01,1.92,2.00,1.91,2.00,1.86
4,E0,12/08/2023,15:00,Everton,Fulham,0,1,A,0,0,...,1.81,2.17,1.71,-0.25,2.06,1.87,2.04,1.88,1.98,1.88

In [8]:
total_FTHG = df['FTHG'].sum()
total_FTAG = df['FTAG'].sum()

total_HTHG = df['HTHG'].sum()
total_HTAG = df['HTAG'].sum()

total_FTG = total_FTHG + total_FTAG
total_HTG = total_HTHG + total_HTAG

print("Total Full Time Goals: ", total_FTG)
print("Total Half Time Goals: ", total_HTG)

Total Full Time Goals:  1246
Total Half Time Goals:  517

In [ ]:
percentage = (df['FTR'].value_counts()['H'] / len(df['FTR'])) * 100
print(f"A porcentagem de valores 'H' na coluna 'FTR' é de {percentage:.2f}%")

percentage = (df['FTR'].value_counts()['D'] / len(df['FTR'])) * 100
print(f"A porcentagem de valores 'D' na coluna 'FTR' é de {percentage:.2f}%")

percentage = (df['FTR'].value_counts()['A'] / len(df['FTR'])) * 100
print(f"A porcentagem de valores 'A' na coluna 'FTR' é de {percentage:.2f}%")

A porcentagem de valores 'H' na coluna 'FTR' é de 46.05%
A porcentagem de valores 'D' na coluna 'FTR' é de 21.58%
A porcentagem de valores 'A' na coluna 'FTR' é de 32.37%